<!DOCTYPE html>
<html lang="en">

<head>
    <title>Header</title>
    <style>
        ul {
            list-style-type: none;
        }
    </style>
</head>

<body>
    <ul>
        <% if (userName){ %>
        <li id="h">
            Hi
            <%= userName %>
        </li>
        <li id="h">
            <form method="POST" action="/logout">
                <input type="submit" value="Logout">
            </form>
        </li>
        <% } else { %>
        <form method="POST" action="/login" <label>Please Type In Your Username</label>
           <li class="good"> <input type="text" name="userName" value="username"></li>
            <li class="good"> <input type="submit" value="Update!"> </li>
        </form>
        <form method="GET" action="/register">
           <li> <input type="submit" value="Register!"> </li> 
        </form>
        <% } %>
    </ul>
</body>

</html>