<!DOCTYPE html>
<html lang="en">

<head>
    <title>Header</title>

<body>
    
</body>
</head>

<body>
    <ul>
        <form method="POST" action="/login" <label>Please Type In Your Username</label>
            <input type="text" name="userName" value="username">
            <input type="submit" value="Update!">
        </form>

    </ul>

</body>

</html>