<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login Page</title>
    <style>
        ul {
            list-style-type: none;
        }
    </style>
</head>

<body>
    <ul>
        <form method="POST" action="/login" <label>Please Type In Your Email</label>
            <li> <input type="text" name="userName"></li>
            <li> <input type="text" name="password"></li>
            <li> <input type="submit" value="Log In!"> </li>
        </form>
        <form method="GET" action="/register">
            <li> <input type="submit" value="Register!"> </li>
        </form>
    </ul>
</body>

</html>