<!DOCTYPE html>
<html lang="en">

<head>
<body>
    <style>  
    ul {
        list-style-type: none;
    }
 </style>
</body>
</head>
<body>
    <ul >
        <li>
            <form method="POST" action="/register">
               <li> Email: <input type="email" name="email" lable="email"> </li>
               <li> Password: <input type="password" name="password" lable="password"> </li>
                <input type="submit" value="Register">
            </form>
        </li>

    </ul>

</body>

</html>