<!DOCTYPE html>
<html lang="en">

<head>

<body>
    <title>TinyApp</title>
    <% include partials/_header %>
    <style>
        ul#hi {
                list-style-type: none;
                line-height: 150%;
            }         
 </style>
</body>
</head>

<body>
    <ul id="hi">


        <% for (let i in urls) { %>
        <li>
            <%= i %> ---
            <% if (user_id == urls[i]['userID']){ %>
            <%= urls[i]['longURL']; %>
        </li>
        <li>
            <a href="<%= `/urls/${i}` %>">Edit</a>
            <form method="POST" action="<%= `/urls/${i}` %>/delete">
                <input type="Submit" value="Delete">
            </form>
        </li>
        <% } %>
        <% } %>
        <li><a href="/urls/new">Create Your Own URLs</a></li>
    </ul>

</body>

</html>