<!DOCTYPE html>
<html lang="en">

<head>
    <title>TinyApp</title>

<body>
    <% include partials/_header %>
</body>
</head>

<body>
    

    <ul>
        <% for (let i in urls) { %>
        <li>
            <%= urls[i]; %>
        </li>
            <%= let act = "/urls/" + i + "/delete" %>
        <form method="POST" action=<%= act %>
            <label>Click to Delete</label>
            <input type="Submit" value="Delete">
        </form>
        <% } %>
    </ul>

</body>

</html>