<!DOCTYPE html>
<html lang="en">

<head>
    <title>TinyApp</title>
<body>
    <% include partials/_header %>
</body>
</head>
<body>
    <ul>
        <li>
            <%= shortURL %> ---
            <%= longURL %>
        </li>
        <form method="POST" action="<%= `/urls/${shortURL}` %>" <label>Type in a new long URL</label>
            <input type="Text" name="longURL" value="<%= `${longURL}` %>">
            <input type="submit" value="Update!">
        </form>
    </ul>
</body>

</html>