<!DOCTYPE html>
<html lang="en">

<head>
    <title>TinyApp</title>

<body>
    <% include partials/_header %>
</body>
</head>

<body>
    <!-- Add your EJS code here -->

    <ul>
        <% for (let i in urls) { %>
        <li>
            <%= urls[i]; %>
        </li>
        <% } %>
    </ul>

</body>

</html>